body {
	background-color: #000000;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
li {
	color: #FFFFFF;
}
ul#menu li {
	display:inline;
}
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.topnav {
	overflow: hidden;
	background-color: #A9A9A9;
}
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: #FF0000;
	color: #000000;
}
.topnav a.active {
	background-color: #000000;
	color: #FFFFFF;
}
article {
	color: #FFFFFF
}

input[type=text], select, textarea {
  width: 100%
  padding:12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: #FFFFFF;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #ADD8E6;
}
.container {
	border-radius: 5px;
  background-color: #FFFFFF;
}